# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Ignorar dados pesados e datasets
docs/
data/
*.bin

# Ignorar executáveis e binários compilados
src/sequential/kmeans_sequential
src/mpi_openmp/kmeans_hybrid
src/openmp_gpu/kmeans_omp_gpu
src/cuda/kmeans_cuda

# Ignorar ambiente virtual do python
.venv/

# SLURM outputs (gerados no cluster)
results/raw/*.out
results/csv/*.csv
results/figures/*.png
results/figures/*.pdf

# Binarios compilados no root (temporarios de benchmark)
kmeans_seq
kmeans_mpi_omp
kmeans_omp_gpu
kmeans_cuda

# Arquivos .gz baixados pelo data_engineering.py
data/*.gz